# Importing packages

In [1]:
import pandas as pd
import re
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats
import os
from scipy.special import inv_boxcox
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error
from sklearn.preprocessing import OneHotEncoder, Normalizer, LabelEncoder
from statsmodels.stats.outliers_influence import variance_inflation_factor
from statsmodels.tools.tools import add_constant
from patsy import dmatrices
import statsmodels.api as sm
from sqlalchemy import create_engine

pd.options.display.max_columns = None

import warnings
warnings.filterwarnings('ignore')

import getpass
password = getpass.getpass()

connection_string = 'mysql+pymysql://root:' + password + '@localhost/bank'
engine = create_engine(connection_string)

········

# Loading Data

In [2]:
query = '''SELECT * from credit_card_classification.credit_card_data;'''

data = pd.read_sql_query(query, engine)
data

,customer_number,offer_accepted,reward,mailer_type,income_level,bank_accounts_open,overdraft_protection,credit_rating,credit_cards_held,homes_owned,household_size,own_your_home,average_balance,q1_balance,q2_balance,q3_balance
0,1,No,Air Miles,Letter,High,1,No,High,2,1,4,No,1160.75,1669,877,1095
1,2,No,Air Miles,Letter,Medium,1,No,Medium,2,2,5,Yes,147.25,39,106,78
2,3,No,Air Miles,Postcard,High,2,No,Medium,2,1,2,Yes,276.50,367,352,145
3,4,No,Air Miles,Letter,Medium,2,No,High,1,1,4,No,1219.00,1578,1760,1119
4,5,No,Air Miles,Letter,Medium,1,No,Medium,2,1,6,Yes,1211.00,2140,1357,982
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17971,17996,No,Cash Back,Letter,High,1,No,Low,1,1,5,Yes,167.50,136,65,71
17972,17997,No,Cash Back,Letter,High,1,No,Low,3,1,3,Yes,850.50,984,940,943
17973,17998,No,Cash Back,Letter,High,1,No,Low,2,1,4,No,1087.25,918,767,1170
17974,17999,No,Cash Back,Letter,Medium,1,No,Medium,4,2,2,Yes,1022.25,626,983,865
17975,18000,No,Cash Back,Letter,Low,2,No,Medium,2,1,3,No,1056.00,265,1378,1978

## EXPLORE

In [4]:
data.shape

(17976, 16)

## Exploring categoricals

In [5]:
data_cat = data.select_dtypes('object')
data_cat.head()

,offer_accepted,reward,mailer_type,income_level,overdraft_protection,credit_rating,own_your_home
0,No,Air Miles,Letter,High,No,High,No
1,No,Air Miles,Letter,Medium,No,Medium,Yes
2,No,Air Miles,Postcard,High,No,Medium,Yes
3,No,Air Miles,Letter,Medium,No,High,No
4,No,Air Miles,Letter,Medium,No,Medium,Yes

#### XXXXXXXXXXXXXXXXX

## Exploring numericals

## CLEAN

## HANDLING CATEGORICALS

## CHECK MILTICOLINEARITY

In [ ]:
# VIF

## FEATURE ENGINEERING

In [ ]:
# CATEGORICALS (BUCKETING ENCODING)

In [ ]:
# NUMERICALS (OUTLIERS, BOXCOX, NAN)

## STANDARDIZE DATA

In [ ]:
# MINMAX, STANDARDSCALER, NORMALIZER

## SELECT MODEL

In [ ]:
#LINEAR, POLINOMIAL, KNN, RANDOM FOREST

## EVALUATE MODEL

In [ ]:
#CLASSIFICATION: CONFUSION, MATRIX, KAPPA, F1 SCORE, MCC